<div class="group">
  <%= f.label :title %><%= f.error_message_on :title %>
  <%= f.text_field :title, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :slag %><%= f.error_message_on :slag %>
  <%= f.text_field :slag, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :content %><%= f.error_message_on :content %>
  <%= f.text_area :content, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:pages, :index)}';return false", :class => :button %>
</div>
