<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:pages, :index) %></li>
      <li><%= link_to pat(:new), url(:pages, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:pages) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:page, :id) %></th>
          <th><%= mat(:page, :title) %></th>
          <th><%= mat(:page, :content) %></th>
          <th><%= mat(:page, :created_at) %></th>
          <th><%= mat(:page, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @pages.each do |page| %>
        <tr>
          <td class="first"><%= page.id %></td>
          <td><%= page.title %></td>
          <td><%= page.content %></td>
          <td><%= page.created_at %></td>
          <td><%= page.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:pages, :edit, :id => page.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:pages, :destroy, :id => page.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
