<div class="container">
  <h1>本の検索</h1>
  <% form_tag('/book/search', :method=>'GET', :class=>'well') do %>
    <%= label_tag :keyword %>
    <%= text_field_tag :q %>
    <%= submit_tag '検索', :class=>"btn" %>
  <% end %>
</div>

<% if @results.present? %>
<div class="book-search-result container">
  <% @results.each do |book| %>
    <div class="book row well">
      <% if book.medium_image.present? %>
      <div class="image span2">
        <%= book_image_for book %>
      </div>
      <% end %>
      <div class="span7">
	<h2 class="book-title"><%= link_to book.title, book.url %></h2>
	<ul class="book-description">
	  <li>著者: <%= book.author %></li>
	  <li>出版社: <%= book.publisher %></li>
	  <li>ISBN: <%= book.isbn %></li>
	</ul>

	<div class="book-control-panel">
	  <% if Book.find_by_asin(book.asin).blank? then %>
	    <% form_tag('/book', :method=>'POST', :class=>'book-register-form') do %>
	      <p class="alert"></p>
	      <%= hidden_field_tag :asin, :value=>book.asin %>
	      <%= submit_tag '登録', :class=>"btn btn-primary" %>
	    <% end %>
	  <% else %>
	    <% form_tag("/book/#{book.asin}/delete", :method=>'POST', :class=>'book-deleter-form') do %>
	      <p class="alert">既に登録済みです。</p>
	      <%= submit_tag '登録解除', :class=>"btn btn-danger" %>
	    <% end %>
	  <% end %>
        </div>

      </div>
    </div>
  <% end %>
</div>
<% end %>
