<h1>本の検索</h1>
<% form_tag('/book/search', :method=>'GET') do %>
  <%= label_tag :keyword %>
  <%= text_field_tag :q %>
  <%= submit_tag '検索' %>
<% end %>
<% if @results.present? %>
<div class="book-search-result">
  <% @results.each do |book| %>
    <div class="book">
      <h2><%= link_to book.title, book.url %></h2>
      <% if book.medium_image.present? %>
      <div class="image">
        <%= book_image_for book %>
      </div>
      <% end %>
      <ul>
	<li>著者: <%= book.author %></li>
	<li>出版社: <%= book.publisher %></li>
	<li>ISBN: <%= book.isbn %></li>
      </ul>
    </div>
  <% end %>
</div>
<% end %>
