<div class="book row well">
  <div class="book-index span1 muted">
    <%= index if defined? index %>
  </div>
  <div class="image span2">
  <% if book.medium_image.present? %>
     <%= book_image_for book %>
  <% end %>
  </div>
  <div class="span7">
    <h2 class="book-title"><%= link_to book.title, book.url %></h2>
    <ul class="book-description">
      <li>著者: <%= book.author %></li>
      <li>出版社: <%= book.publisher %></li>
      <li>ISBN: <%= book.isbn %></li>
    </ul>
    <%= partial 'layouts/book_panel', :locals=>{:book=>book} if defined?(@panel_is_visible) and @panel_is_visible %>
  </div>
</div>
