<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to('実験システム', '/', :class=>'brand') %>
      <div class="nav-collapse collapse">
	<ul class="nav">
	  <li><%= link_to 'トップ', '/' %></li>
	  <li><%= link_to '本の検索', url_for(:book,:search) -%></li>
	  <% if logged_in? then %>
	    <li><%= link_to '登録した本', url_for(:book, :index, :account_id=>current_account.id) -%></li>
	  <% end %>
	</ul>
	<% if logged_in? %>
	  <% form_tag '/sessions/destroy', :method=> 'delete', :class=>'nav' do %>
	    <span><%= current_account.name %></span>
	    <%= submit_tag 'ログアウト', :class=>'btn btn-danger' %>
	  <% end %>
	<% else %>
	  <% form_tag '/sessions/new', :method=> 'get', :class=>'nav' do %>
	    <%= submit_tag 'ログイン', :class=>'btn btn-primary' %>
	  <% end %>
	<% end %>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar -->
