  <div class='rating-box'>
    <p class="alert alert-info">
      <strong class="message"><%= account.name %>さんのリストに対するあなたの関心を教えて下さい。</strong>
      <span class='rating' id='rating_<%= rating.id %>' ratable-type='<%= rating.ratable_type %>' ratable-id='<%= rating.ratable_id %>' data-score='<%= rating.rate %>' ></span>
    </p>
  </div>
